* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    color: #172B4D;
}

body {
    font-size: 1.4rem;
    display: flex;
}

a {
    display: block;
    text-decoration: none;
    color: #172B4D;
}

li {
    list-style: circle;
    margin: 2px 0;
}

body {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 28px;
    margin-top: 40px;
    margin-bottom: 16px;
}

.main-index {
    background: #DCDFE4;
    padding: 0 16px;
}

.nav-link {
    font-size: 1.6rem;
    margin: 0 -16px;
    padding: 12px 16px;
}

.nav-link:hover {
    background-color: #B3B9C4;
}

.main-doc {
    background: #F1F2F4;
    padding: 20px 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.main-section__title {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 8px;
}

.text-content {
    margin-bottom: 6px;
}

.coding-section__item {
    display: flex;
    margin: 2px 0;
}

.coding-section__item > p::before {
    content: ": ";
}

@media (min-width: 640px) {
    body {
        flex-direction: row;
    }
    .main-doc .main-section {
        width: 80%;
        margin: auto;
    }
}

@media (min-width: 1024px) {
    .main-doc .main-section {
        width: 50%;
    }
}
